@font-face {
  font-family: Poppins;
  src: url(./Poppins-Regular.ttf);
}
:root {
  --pri: #a8bba3;
  --sec: #f7f4ea;
  --tri: #ebd9d1;
  --btn: #b87c4c;
}
* {
  font-family: Poppins;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pri);
}
.Main-container {
  padding: 1.5rem 2rem;
  border-radius: 6px;
  width: 30%;
  height: 60%;
  background-color: var(--sec);

}

.Heading h3 {
  font-family: "Poppins";
  font-size: 1.8rem;
  color: #111;
  font-weight: 600;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.Heading h3 img {
  width: 2rem;
  height: 2rem;
}
.input-container {
  display: flex;
  border-radius: 50px;
  margin: 1rem 1.5rem;
  padding-left: 1rem;
  background-color: rgba(208, 206, 206, 0.35);
}
.input-container input {
  padding: 1rem 0rem 1rem 0.5rem;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}
.input-container button {
  padding: 0.8rem 2.5rem;
  border-radius: 50px;
  color: var(--tri);
  font-weight: 800;
  background-color: var(--btn);
  border: none;
  font-size: 1.2rem;
}
.Task_container {
  height: 70%;
  background-color: #a8bba3;
  display: flex;
  padding: 1rem 0.5rem 1rem 0.8rem;
  border-radius: 10px;
  flex-direction: column;
  color: white;
  overflow: auto;
  scrollbar-width: none;
}
.Task_container>p{
  margin: auto;
  font-size: 2rem;
}
.task {
  margin: 1rem 0rem 1rem 1rem;
  display: flex;
  padding: 0rem 1rem;
  gap: 1rem;
border-bottom: 1px solid grey;
  cursor: pointer;
}
.task label {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.task label input{
  width: 1rem;
  height:  1rem;
}
.task p{
  font-size: 1.2rem;
}